.page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color:black;
    background: paleturquoise;
    margin: 0;
    padding: 0px 0;
    padding-bottom: 20px;
}
/*base stuff*/

.page-container{
    background-color: lightskyblue;
width: 80%;
max-width: 1000px;
margin:auto;
border: 1px solid #aaa;
box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/*layout*/
.content {
    max-width: 960px;
margin: 24px auto;
padding: 0 40px;
box-sizing: border-box;
}

/*header ontop of page*/
.site-header{
   position: relative;
   height: 240px;
    background: rgb(74, 85, 170);
    overflow: hidden;
text-align: center;
padding-top: 8px;
padding: 14px;
}

.hero{
    position: absolute;
    inset: 0;
     width: 100%;
     height: 100%;
       object-fit: cover;

}
.site-title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
    z-index: 2;
     display: inline-block;
      margin: 0;
      font-size: 2.5rem;
        padding: 4px 10px;
}
.site-nav{
text-align: center; 
  border-top: 1px solid #a9b8b4;   
}
.site-nav__list{
list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.site-nav__item {
  border-left: 1px solid black;
  padding: 0 60px;
}
.site-nav__item:first-child { border-left: none; }

.site-nav__link {
  display: block;
  padding: 14px 40px;
  color: black;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}
.section-title{
    margin: 14px 0 10px;
    font-weight: 700;
}
.text{
    margin: 0 0 11px;
}

.float-left{
    float:left;
    width:320px;
    height: auto;
    margin: 0 20px 12px;

}
.facts {
  margin: 0;
  padding: 0 40px;
}

.facts-title,
.facts-list {
  text-align: left;   /* only affects these elements */
}

.form{
    background:paleturquoise;
     border: 1px solid #000;
    padding: 20px;
    margin: 0 auto 40px auto;
    margin-bottom: 28px ;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.form__body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form__label{
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
}
.form__input,
.form__textarea{
    width: 100%;
    padding: 3px;
    border: 0.5px solid black;
    font-size: 15px;
    font-family: inherit;
    box-sizing: border-box;
}
.form__option { margin-right: 12px; }
.form__button {
  background: blueviolet;
  border: 1px solid black ;
  padding: 8px 16px;
  cursor: pointer;
  width: 80px;
  text-align: center;
}
.form-heading{
    margin-top: 40px;
    margin-bottom: 2px;
    font-weight: 700;
    text-align: left;
}
.form-wrapper {
  max-width: 950px;
  margin: 40px auto 28px auto; /* centers heading + form together */
}
.site-footer {
    text-align: right;
    padding: 15px;
}
.footer-text{
    font-size: 14px;
}