* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #c78c06;
    --secondary-color: #ffe6ac;
    --dark-grey: #222;
    --white: #fff;
    --font-stack: 'Open Sans', sans-serif; /* [cite: 20] */
}

body {
    font-family: var(--font-stack);
    color: var(--dark-grey);
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* mobile first approach */

/* Links & Buttons */
a {
    text-decoration: none;
    color: var(--dark-grey);
}
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--dark-grey);
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color:#a67505; /*  darker for hover effect */
    color: var(--white);
}

section {
    padding: 2rem 1.5rem;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
border-bottom: 3px solid var(--primary-color);
display:inline-block;
}

.site-header{
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.nav-links{
    list-style: none;
    text-align: center;
}

.nav-links li {
    margin-bottom: 0.5rem;
}

.nav-links a {
    color: var(--primary-color);
display: block;
padding: 0.5rem;
}

.nav-links a:hover {
    color: var(--white);
}
