* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors from Instructions */
    --gold: #c78c06;       /* Primary Gold */
    --light-gold: #ffe6ac; /* Yellow Backgrounds */
    --black: #222;         /* Dark Grey/Black */
    --white: #fff;
    --font-main: 'Open Sans', sans-serif;
}