* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors from Rubric */
    --gold: #c78c06;       /* Primary Gold */
    --light-gold: #ffe6ac; /* Yellow Backgrounds */
    --black: #222;         /* Dark Grey/Black */
    --white: #fff;
    --font-main: 'Open Sans', sans-serif;
}
body {
    font-family: var(--font-main);
    color: var(--black);
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3 {
    font-weight: 700; /* Bold headings */
    margin-bottom: 1rem;
}