/* add css reset code */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colors */
:root{
    --primary-gold: #c78c06;
    --light-gold: #ffe6ac;
    --dark-grey: #222;
    --white: #ffffff;
}

body{
    font-family: 'open sans', sans-serif;
    line-height: 1.6;
    color: var(--dark-grey);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header - mobile first */

.site-header{
    background-color: var(--dark-grey);
   padding-bottom: 1rem;
}

.logo{
    background-color: var(--primary-gold);
    color: var(--white);
    padding: 2rem 1rem;
    font-size: 2rem;
    text-align: left;
}

.logo i{
    color: var(--white);
    margin-right: 10px;
}

.nav-links{
    list-style: none;
    text-align: center;
}

.nav-links li{
    width: 100%;
}

.nav-links a{
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--primary-gold);
    font-weight: 400;
}

/* special style for home link */

.nav-links li:first-child a{
    background-color: var(--primary-gold);
    color: var(--dark-grey);
}

.nav-links a:hover{
    color: var(--white);
}