* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #c78c06;
    --secondary-color: #ffe6ac;
    --dark-grey: #222;
    --white: #fff;
    --font-stack: 'Open Sans', sans-serif; /* [cite: 20] */
}

body {
    font-family: var(--font-stack);
    color: var(--dark-grey);
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* mobile first approach */

/* Links & Buttons */
a {
    text-decoration: none;
    color: var(--dark-grey);
}
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--dark-grey);
    
}