/* add css reset code */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* colors */
:root{
    --primary-gold: #c78c06;
    --light-gold: #ffe6ac;
    --dark-grey: #222;
    --white: #ffffff;
}

body{
    font-family: 'open sans', sans-serif;
    line-height: 1.6;
    color: var(--dark-grey);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}